h2.mb-4(id="backgroundimage") 背景画像プレゼント
    p
        | セッション・懇親会参加のバーチャル背景に利用できるオリジナル背景画像を配布します。
        br
        | ご自由にご利用ください。
    p
        a(href="assets/img/1.png" download="背景画像1")
            img(src="assets/img/1.png" style={width: '80%', 'max-width':'100%', padding: '1% 5%'})
        a(href="assets/img/2.png" download="背景画像2")
            img(src="assets/img/2.png" style={width: '80%', 'max-width':'100%', padding: '1% 5%'})
        a(href="assets/img/3.png" download="背景画像3")
            img(src="assets/img/3.png" style={width: '80%', 'max-width':'100%', padding: '1% 5%'})