h2.mb-4#sessions タイムテーブル
p また当日は<a href="https://www.youtube.com/channel/UCp2MbdP3wZUldh-nqcuSpkg" target="_href">YouTube</a>で公開します。開催までの準備配信や過去の動画も公開しています。各Trackは下記タイムテーブルのリンクを確認してください。

.table-responsive
    table#timetable.table.table-hover
        thead
            tr
                th
                th(scope='col') 
                    | Track A
                    a(href="https://youtu.be/wUff9onihw8" target="_blank")  (YouTubeへのリンク)
                th(scope='col') 
                    | Track B 
                    a(href="https://youtu.be/6oBV_HmEBhI" target="_blank")  (YouTubeへのリンク)
        tbody 
            tr


script(src="js/scripts.js")