h2.mb-4#sessions タイムテーブル
p 詳細なセッション内容は後日公開されます。
p また当日は<a href="https://www.youtube.com/channel/UCp2MbdP3wZUldh-nqcuSpkg" target="_href">YouTubeLive</a>で公開します。

.table-responsive
    table#timetable.table.table-hover
        thead
            tr
                th
                th(scope='col') A会場
                th(scope='col') B会場
        tbody 
            tr


script(src="js/scripts.js")