h2.mb-4 タイムテーブル
.table-responsive
    table#timetable.table.table-hover
        thead
            tr
                th
                th(scope='col') A会場
                th(scope='col') B会場
        tbody 
            tr


script(src="js/scripts.js")