h2.mb-4 スピーカー/セッション紹介

.speakers 

    .speaker
        .image
            img(src="assets/img/speakers/A01.jpg")
        .text
            h4 
                | A01 13:10~
                br
                | ３D都市モデルが実現する未来―国土交通省Project PLATEAU
            p 
                | 2020年度から始動した国土交通省主導による３D都市モデル整備・活用・オープンデータ化事業Project PLATEAU（プラトー）現実の都市空間をサイバー空間上に再現した３D都市モデルの活用により、精緻なシミュレーションや高度な分析、新たなサービス創出など、新しい価値が生まれつつある。
                | PLATEAUは今後の地理空間情報の展開にどのような変化をもたらすのか。国土交通省の狙いと今後の取組について講演する。
            h4 内山 裕弥(うちやま ゆうや)
            p.belong 国土交通省都市局都市政策課

    .speaker
        .image
            img(src="assets/img/speakers/A02.jpg")
        .text
            h4 
                | A02 13:40~
                br
                | HERE位置情報サービスでCOVIDの課題を解決
            p 
                | HEREは最先端の位置情報プラットフォームで複雑な社会問題の解決に貢献しています。FOSS4G TOKAI 2021　ではHEREの位置情報サービスがどのように新型コロナの解決に貢献しているかをお話しさせてもらいます。

            h4 サブリナ チェン/仲井治(さぶりな ちぇん／なかいおさむ)
            p.belong HERE Japan 株式会社

    .speaker
        .image
            img(src="assets/img/speakers/A03.jpg")
        .text
            h4 
                | A03 14:00~
                br
                | MySQL GBU	オラクルクラウドがGISと相性がいい理由
            p 
                | 地理院地図やトヨタマップマスターの地図制作業務でも採用されているオラクルクラウド。GISを構築＆運用する上で、オラクルクラウドが適している理由についてご説明させて頂きます。

            h4 山﨑 由章(やまさき よしあき)
            p.belong 日本オラクル株式会社


    .speaker
        .image
            img(src="assets/img/speakers/A11.jpg")
        .text
            h4 
                | A11 14:35~
                br
                | FOSS4G Hokkaido	自治体HPにもベクタタイルの時代が来たか！
            p 
                | 北海道のホームページではいくつかのページでWebGIS「Leaflet」を活用してオープンデータの可視化を行っています。最近ではQGISで変換したベクタタイルの利用も始まりました。QGISでの変換方法や自治体での活用事例紹介などお話します。

            h4 喜多 耕一(きた こういち)
            p.belong FOSS4G Hokkaido

    .speaker
        .image
            img(src="assets/img/speakers/A12.jpg")
        .text
            h4 
                | A12 14:55~
                br
                | 静岡県が目指す「VIRTUAL SHIZUOKA構想」とは？
            p 
                | 静岡県は点群データで創る仮想県土「VIRTUAL SHIZUOKA」を新たなインフラと位置付け、データの収集・蓄積とオープンデータ化を進めている。熱海の土石流災害の初期対応でどのようにデータが利活用されたのか担当者が解説します。

            h4 杉本 直也(すぎもと　なおや)
            p.belong 静岡県庁

    .speaker
        .image
            img(src="assets/img/speakers/A13.jpg")
        .text
            h4 
                | A13 15:15~
                br
                | QGISで見る3D点群
            p 
                | 近年は写真から3Dモデルを作成するSfM、地上型レーザー計測器による点群取得、はたまた3Dスキャナーを搭載したスマートフォン、Raspberry PIを基盤として自作する3Dスキャナなど、3D点群が身近になってきました。また行政が配布する3D点群などもあります。でも、取得した点群を見たいといった場合にどうします？実はQGISでも3D点群を見る方法があるのです。有償ソフトを使わずに、パブリックドメインソフトだけで描画をする方法を紹介します。

            h4 吉中 輝彦(よしなか てるひこ)
            p.belong FOSS4G TOKAI / ギルド：黎明の調べ

    .speaker
        .image
            img(src="assets/img/speakers/A21.jpg")
        .text
            h4 
                | A21 15:50~
                br
                | 「流域治水 × データ」について行ったり来たりしながら考える
            p 
                | 流域治水は、みんなで協力して流域全体で豪雨被害を減らそうという取り組みです。その中でオープンなデータの役割はますます重要になってくるはずです。今回は、流域治水周辺の技術やデータについて、1技術者の視点から眺めて考えてみたいと思います。

            h4 家田 浩之(いえだ ひろゆき)
            p.belong 民間（建設コンサルタント）

    .speaker
        .image
            img(src="assets/img/speakers/A22.jpg")
        .text
            h4 
                | A22 16:10~
                br
                | リモセンのツボ：よくあるご質問への回答
            p 
                | 衛星リモートセンシングデータを利用するにあたり、原理や解析方法などを学ばれる中で出てくる疑問は、かなり共通しているものが多いです。今回はそんなリモセンに関するたくさんの質問から、多くいただくものと特に最近増えてきたものについて、いくつか取り上げて回答いたします。

            h4 道下 亮(みちした りょう)
            p.belong 一般財団法人リモート・センシング技術センター

    .speaker
        .image
            img(src="assets/img/speakers/A23.jpg")
        .text
            h4 
                | A23 16:30~
                br
                | 物体検出AIと地図上でのマッピング
            p 
                | ドライブレコーダーの動画からAIで物体を検出する取り組みは多く行われています。今回は、AIで検出した結果をマッピングした事例についてお話します。

            h4 荒木 光一(あらき こういち)
            p.belong 五大開発株式会社

    .speaker
        .image
            img(src="assets/img/speakers/B11.jpg")
        .text
            h4 
                | B11 14:35~
                br
                | 国土地理院の標高APIを利用した事故データセットの構築
            p 
                | 愛知県警から提供された交通事故のデータに、国土地理院の標高APIを利用して標高（平均海面からの高さ）の情報を加え、事故リスクを分類するためのデータセットを構築する。標高や道路ネットワークの構造から特徴量を算出し、機械学習を利用した事故リスクの分類を試みる。

            h4 向 直人(むかい なおと)
            p.belong 椙山女学園大学

    .speaker
        .image
            img(src="assets/img/speakers/B12.jpg")
        .text
            h4 
                | B12 14:55~
                br
                | MapLibreとtile.openstreetmap.jpで始めるベクトル地図プログラミング
            p 
                | Mapboxのプロプライエタリ化によってMapLibreが誕生し、自由な地図プラットフォームが現在も維持されています。今回はMapLibreとそれを活用できるプラットフォームOpenStreetMap Foundation Japanのタイルサーバを紹介します。

            h4 Taro Matsuzawa(まつざわ たろう)
            p.belong Georepublic Japan

    .speaker
        .image
            img(src="assets/img/speakers/B13.jpg")
        .text
            h4 
                | B13 15:15~
                br
                | スマートフォンを利用した災害時情報収集システムの開発
            p 
                | 災害時の情報収集システムとして2019年にLINEのボットを利用した位置情報つきデータ収集システムを構築して運用しました。2019年には災害現場でたくさん利用できましたが2020年携帯基地局が全滅した災害現場では利用できませんでした。そのような場合への対処としてオフラインでも情報収集できるシステムを開発しました。

            h4 嘉山 陽一(かやま よういち)
            p.belong IT DART/OSGeo.JP/朝日航洋株式会社

    .speaker
        .image
            img(src="assets/img/speakers/B21.jpg")
        .text
            h4 
                | B21 15:50~
                br
                | 君でも出来る！ジオアプリ開発のススメ
            p 
                | 世の中には、様々なFOSS4Gの「大物アプリ」が存在しています。
                br
                | これらを使いこなすもの良いけど、「自作する」のもFOSS4G的かと思います。
                br
                br
                | 今回は、「小物だけど代替品が少ない」自作アプリの仕組みを紹介することで、
                |「自分でも作ってみようかな？」と思える発表を目指してみたいと思います。

            h4 坂ノ下 勝幸(さかのした かつゆき)
            p.belong 諸国・浪漫/OSMFJ
