h2.mb-4(id="about") FOSS4Gとは
    p
        img(src="assets/img/tokai-logo-2-436x308.png" style={width: '300px', 'max-width':'100%'})
    p
        | FOSS4GとはFree Open Source Software for GeoSpatialの略であり， オープンソースの地理情報ソフトウェアを指しています．
        br
        | また，それらを事例紹介や体験学習を通してまなぶイベント名でもあります． 
        br
        | FOSS4Gは国際非営利組織の
        a(href="https://osgeo.org" target="_blank" style={color: '#939393'}) OSGeo財団
        | により支援され， 日本における公式の支部として
        a(href="https://osgeo.jp" target="_blank" style={color: '#939393'}) OSGeo財団日本支部
        | が活動しています．
        br
        br
        br
        | FOSS4G TOKAI は東海地方のイベントとして， 2017年にスタートし，今回で4回目の開催となります 
    ul(style={'list-style': 'circle', color: '#939393'})
        li 
            a(href='https://www.osgeo.jp/archives/1107' target="_blank"  style={color:'#28a9ff'}) 2017
        li
            a(href='https://foss4g-tokai.github.io/2018/' target="_blank" style={color:'#28a9ff'}) 2018                    
        li
            a(href='https://foss4g-tokai.github.io/2019/' target="_blank" style={color:'#28a9ff'}) 2019
        li
            a(href='https://foss4g-tokai.github.io/2021/' target="_blank" style={color:'#28a9ff'}) 2021
    br
    br

h2.mb-4#codeofconduct 行動規範（CODE OF CONDUCT）
    p(style={'max-width': '800px', 'margin': '2em 0'})
        | FOSS4G TOKAIでは，皆様に心地よく，そして楽しく参加していただけるよう，行動規範を設けています．
        br
        | 私たちは，性別，年齢，性的指向，身体的特徴，人種や職業，思想や信条や生き方，技術力や技術の選択・手法などのさまざまな個人のありかたに対して，ハラスメントを許容しません．
        br
        | もしハラスメントや侮辱的言動，イベントへの妨害となる行為や周囲を不快にする言動を取った場合，私たちは当該参加者に退出を求めたり，今後の参加をお断りしたり，法的措置をとる場合があります． 
        br
        br
        | 私たちは，FOSS4G TOKAIの全ての参加者に対して，行動規範に従うことを求めています． 
        | 行動規範の全文は
        a(href="https://foss4g-tokai.github.io/code-of-conduct/" target="_blank" style={color:'#28a9ff'}) こちら
        | のページでご覧ください．


// h2.mb-4 協賛

// TBD


// h2.mb-4 運営スタッフ

// TBD
