doctype html
html(lang='ja')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='FOSS4GとはFree Open Source Software for GeoSpatialの略であり， オープンソースの地理情報ソフトウェアを指しています．FOSS4G TOKAI は東海地方のイベントとして， 2017年にスタートし今回で４回目の開催です．"')

        title FOSS4G TOKAI 2021 - Spark at Home - Hello LTNS「Long Time No See。ひさしぶり」

        link(rel='icon', type='image/x-icon', href='assets/favicon.jpg')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap' rel='stylesheet')


        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        // <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-121609123-1")
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'UA-121609123-1');

    body

        // Background Video
        video.bg-video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
            source(src='assets/mp4/bg.mp4', type='video/mp4')

        // Masthead
        .masthead
            .masthead-content.text-white
                .container-fluid.px-4.px-lg-0
                    h1.fst-italic.lh-1.mb-4 FOSS4G TOKAI 2021
                    p.mb-5
                        span(style={color : '#ff46b0'})                    
                            | Spark at Home 
                        br
                        span(style={color : '#ff46b0'})
                            | Hello LTNS「Long Time No See。久しぶり」
                        br
                        | 2021/8/28 (土) オンライン 13:00-18:00
                    p.mb5 
                        a(href="https://forms.gle/MpgyCkfttVDX69Hv8" target="_blank") 
                            button.btn.btn-primary セッション申込（発表したい方）
                    p.mb5 
                        a(href="https://foss4g-tokai2021-session.peatix.com/" target="_blank") 
                            button.btn.btn-primary セッション申込（視聴したい方)
                    p.mb5 
                        a(href="#" target="_blank")
                            button.btn.btn-primary 懇親, LT会 申込 (準備中)

        // Social Icons
        // For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands
        .social-icons
            .d-flex.flex-row.flex-lg-column.justify-content-center.align-items-center.h-100.mt-3.mt-lg-0
                a.btn.btn-dark.m-3(href='https://twitter.com/FOSS4GTokai' target='blank')
                    i.fab.fa-twitter
                a.btn.btn-dark.m-3(href='https://www.facebook.com/FOSS4GTokai/' target='_blank')
                    i.fab.fa-facebook-f
        .history 
            ul 
                li 
                    a(href='https://www.osgeo.jp/archives/1107') 2017
                li
                    a(href='https://foss4g-tokai.github.io/2018/') 2018                    
                li
                    a(href='https://foss4g-tokai.github.io/2019/') 2019
        .main
            .main-content(style={padding:'5px 10px'})

                // -  TODO : 定義コメントを外してセッションページを復活させる            
                //include sessions.pug
                //include speackers.pug

                include includes/support.pug

                .footer
                    | FOSS4G TOKAIの活動にご賛同頂けるスポンサーを募集しています．
                    br
                    | お問い合わせはFacebookまたはTwitterまで．
                    br
                    | © Copyright FOSS4G Tokai 2021 - All Rights Reserved
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')
        
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
