h2.mb-4 タイムテーブル
.table-responsive
    table.table.table-hover
        thead
            tr
                th
                th(scope='col') タイトル
                th(scope='col') スピーカー
        tbody 
            tr
                th(scope='row') 12:00
                td オープニングセッション
                td 
            tr
                th(scope='row') 12:00
                td QGISを用いた文系大学におけるGIS教育の実践	
                td 株式会社xxxx hogehoge
            tr
                th(scope='row') 12:20
                td 
                    | MySQL 8.0で強化されたGIS機能の紹介と
                    br
                    | シェープファイルのインポート手順について	
                td 株式会社xxxx hogehoge
            tr
                th(scope='row') 13:00
                td aaaaaaaaa
                td 株式会社xxxx hogehoge
            tr
                th(scope='row') 12:00
                td 休憩
                td 
            tr
                th(scope='row') 12:20
                td aaaaaaaaa
                td 株式会社xxxx hogehoge
            tr
                th(scope='row') 13:00
                td 休憩
                td 
            tr
                th(scope='row') 12:00
                td aaaaaaaaa
                td 株式会社xxxx hogehoge
            tr
                th(scope='row') 12:20
                td アンカンファレンス
                td 
            tr
                th(scope='row') 13:00
                td 閉会
                td 